.slick-track {
	display: flex !important;
}

.slick-slide {
	height: auto !important;
	display: flex !important;
}

.slick-slide > div {
	display: flex;
	height: 100%;
	width: 100%;
}

.cards-container {
	display: flex !important;
	flex-direction: column;
	align-items: center;
	background-color: #01101d1a;
	padding: 1.5rem;
	margin: 1.5rem;
	border-radius: 0.375rem;

	.card-image{
		img {
			height: 220px;
			display: block;
		}
	}

	.card-title {
		width: 100%;
		padding: 1.5rem 1.5rem 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.card-description {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.card-buttons {
		margin-top: auto;
		margin-bottom: 1.5rem;
		display: flex;
		width: 100% !important;
		margin-right: auto;

		button {
			width: 3.5rem;
			height: 3.5rem;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: auto 1rem;

			transition: width 0.3s, height 0.3s, border-radius 0.3s, padding 0.3s;
			& svg {
				font-size: 2.5rem;
			}

			& span {
				display: none;
			}

			&:hover {
				border-radius: 0;

				& span {
					display: block;
				}

				& svg {
					display: none;
				}
			}
		}
	}
}



.slick-next, .slick-prev {
	color: #01101d;
}


/* Animation */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* tablets */
@media (min-width: 768px) {
	.cards-container {
		padding: 1rem;
		margin: 1rem;
	}
}

/* small laptops */
@media (min-width: 1024px) {
	.card-image{
		img {
			height: 200px !important;
			display: block;
		}
	}
}
