.slider-container {
	.slick-slide {
		height: 50rem;
		display: flex;
		flex-direction: column;

		button {
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			transition: width 0.3s, height 0.3s, border-radius 0.3s, padding 0.3s;

			& span {
				display: none;
			}

			&:hover {
				border-radius: 0;

				& span {
					display: block;
				}

				& svg {
					display: none;
				}
			}
		}

		> div {
			height: 100%;

			> div {

				display: flex !important;
				flex-direction: column;
				justify-content: space-between !important;

			}
		}
	}

	svg {
		font-size: 2rem;
	}

	img {
		height: 15rem;
	}
}

/* Animation */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
