.cards-container {
	height: 45rem;
	display: flex !important;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	.image-content {
		height: 30%;
		img {
			height: 15rem;
		}
	}

	.title-content {
		height: 20%;
		width: 100%;
		padding: 1.5rem 1.5rem 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.description-content {
		height: 30%;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.button-content {
		height: 10%;
		display: flex;
		justify-content: center;
		align-items: center;

		button {
			width: 3.5rem;
			height: 3.5rem;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: auto 1rem;

			transition: width 0.3s, height 0.3s, border-radius 0.3s, padding 0.3s;
			& svg {
				font-size: 2.5rem;
			}

			& span {
				display: none;
			}

			&:hover {
				border-radius: 0;

				& span {
					display: block;
				}

				& svg {
					display: none;
				}
			}
		}
	}
}



.slick-next, .slick-prev {
	top: 50vh;
	color: #01101d;
}


/* Animation */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 600px) {
	.title-content {
		h4 {
			font-size: 1.2rem;
			line-height: 1 !important;
		}
	}

	.description-content {
		height: 40% !important;
	}

	.button-content {
		margin-top: 0 !important;
	}
}
