.cards-container {
	height: 50rem;
	display: flex !important;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	.image-content {
		height: 16rem;
	}

	.description-content {
		height: 25rem;
		padding:  1rem 3rem 0;
		overflow-y: hidden;

		& p {
			margin-top: 2rem;
		}
	}

	.button-content {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 3rem;
		margin-top: 4rem;

		button {
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: auto 1rem;

			transition: width 0.3s, height 0.3s, border-radius 0.3s, padding 0.3s;
			& svg {
				font-size: 2.5rem;
			}

			& span {
				display: none;
			}

			&:hover {
				border-radius: 0;

				& span {
					display: block;
				}

				& svg {
					display: none;
				}
			}
		}
	}
}

img {
	height: 15rem;
}

.slick-next, .slick-prev {
	top: 50vh;
	color: #01101d;
}


/* Animation */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 600px) {
	.slick-slide button {
		width: 4rem !important;
		height: 4rem !important;
	}

	.cards-container {
		height: 50rem;
	}

	.description-content {
		padding: 0.5rem !important;

		& p {
			margin-top: 0.5rem !important;
		}
	}

	.button-content {
		margin-top: 0 !important;
	}
}
