.hero-container {
	.hero-image {
		background-image: url('../../images/hero-starry.png');
		background-size: cover;
		min-height: 900px;
		background-position-y: center;
	}

	.hero-title {
		font-family: 'Lora', serif, Arial, Helvetica, sans-serif;
		font-size: 5rem;
	}
}

@media (max-width: 600px) {
	.hero-title {
		font-size: 4rem !important;
	}

	.hero-text {
		font-size: 2rem !important;
	}
}
