.nav-container {
	.active {
		color: #00C59B;
	}

	.show {
		display: block;
		flex-direction: column;
	}

	a:hover {
		cursor: pointer;

	}

	.hamburger-menu {
		background-color: #00C59B;
		border-radius: 50%;
	}

	transition: transform 0.5s ease;

	.nav-content.collapsed {
		transform: rotate(-90deg) translateY(-100%);
	}

	.animated {
		border: 2px greenyellow solid;
		color: white;


		}

}

@media (max-width: 600px) {
	.cv-download {
		display: none;
	}
}
