.nav-container {
	.active {
		color: #00C59B;
	}

	.show {
		display: block;
		flex-direction: column;
	}

	a:hover {
		cursor: pointer;

	}

	.hamburger-menu {
		background-color: #00C59B;
		border-radius: 50%;
	}
}

@media (max-width: 600px) {
	.cv-download {
		display: none;
	}
}
