.nav-container {
	.active {
		color: #236073;
	}

	.show {
		display: block;
		flex-direction: column;
	}

	a:hover {
		cursor: pointer;
	}

	.hamburger-menu {
		background-color: #00C59B;
		border-radius: 50%;
	}

	// Tilt navbar content 90 degrees
	.animated {
		display: flex;
		flex-direction: row-reverse;
		margin-right: -6rem;

		button {
			display: none;
		}
	}
	.animated {
		-webkit-animation: animated 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		animation: animated 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}

	@-webkit-keyframes animated {
		0% {
			-webkit-transform: rotate(0);
			transform: rotate(0);
			-webkit-transform-origin: right;
			transform-origin: right;
		}
		100% {
			-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);
			-webkit-transform-origin: right;
			transform-origin: right;
		}
	}

	@keyframes animated {
		0% {
			-webkit-transform: rotate(0);
			transform: rotate(0);
			-webkit-transform-origin: right;
			transform-origin: right;
		}
		100% {
			-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);
			-webkit-transform-origin: right;
			transform-origin: right;
		}
	}

	// Rotate nav-links 90 degrees
	.rotate-90 {
		-webkit-animation: rotate-90 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		animation: rotate-90 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}

	@-webkit-keyframes rotate-90 {
		0% {
			-webkit-transform: rotate(0);
			transform: rotate(0);
			-webkit-transform-origin: top right;
			transform-origin: top right;
		}
		100% {
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
			-webkit-transform-origin: top right;
			transform-origin: top right;
		}
		}
	@keyframes rotate-90 {
		0% {
			-webkit-transform: rotate(0);
			transform: rotate(0);
			-webkit-transform-origin: top right;
			transform-origin: top right;
		}
		100% {
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
			-webkit-transform-origin: top right;
			transform-origin: top right;
		}
	}
}

@media (max-width: 600px) {
	.cv-download {
		display: none;
	}
}
