@import "./scss/header.scss";
@import "./scss/hero.scss";
@import "./scss/bouncybutton.scss";
@import "./scss/modal.scss";
@import "./scss/projects.scss";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;600;700;900&display=swap');

/* Color Palette #4523*/
$darkblue: #005067;
$lightblue: #048399;
$rose: #FEB9C6;
$darkrose: #B96B85;
$blackish: #021E20;



.App{
    font-family: "Titillium Web", Arial, Helvetica, sans-serif;
    width: 100%;
    margin: auto;

}

.app__cont{
    width: 80%;
    margin:auto;
}




