.button {
    background-color: $lightblue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 300px;
    font-family: "Titillium Web",
        Arial,
        Helvetica,
        sans-serif;
    align-self: center;
    @media(max-width: 600px){
        width: 150px;
    }
}


.button {
    animation: shadow-drop-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}
