.button {
  background-color: $lightblue;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 300px;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  align-self: center;
}

/*mobile phone*/
@media (max-width: 600px) {
  .button {
    width: 150px;
  }
}

/*big external monitor*/
@media screen and (min-width: 1900px) {
  .button {
    font-size: 32px;
  }
}
