.contact__form label,
.contact__form input, 
.contact__form textarea{
    display: block;
    text-align: left;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1em;
    color: white;
    border-color:white;

}

.contact__form textarea{
    resize: none;
    border: 1px solid black;
    border-color: white;
}

::placeholder{
    font-style: italic;
    font-size: smaller;
}

.contact__form{
    background-color: #ffbb11;
    border-radius: 10px;
    width: 700px;
    margin: auto;
    padding: 10px;
}

.contact__button{
    background-color: $lightblue;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 300px;
        font-family: "Titillium Web",
            Arial,
            Helvetica,
            sans-serif;
    }

    .form__title, 
    .contact__button{
        margin-left: 10px;
        color: white;
    }

.btn__cont{
    display: flex;
    justify-content: center;
    padding: 20px;
}