.footer__container {
    border-top: white 1px solid;
    background-color: $darkblue;
    height: 150px;
}

.mail__logo,
.git__logo {
    color: white;
        width: 30px;
            height: 30px;
}

.fa-linkedin {
    color: white;
}