.footer__container {
    border-top: white 1px solid;
    background-color: $darkblue;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    color: white;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    
}

.footer__content {
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.github__cont, 
.mail__cont, 
.linked__cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav__link {
    color: white;
    font-size: 1.5em;
}

.copy__text {
    color: white;
    margin-bottom: 0;
    margin-top: 30px;
}
.github__logo,
.mail__logo,
.linkedin__logo {
    width: 40px;
    height: 40px;
}

.nav__link {
    font-size: 1em;
}