/* Color Palette #4523*/
$darkblue: #005067;
$lightblue: #048399;
$rose: #FEB9C6;
$darkrose: #B96B85;
$blackish: #021E20;

.navbar{
    background-color: $lightblue;
    height: 10%;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px white solid;


    &__cont{
        padding-left: 100px;
        flex-grow: 1;
    }

    &__links{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 2;
    }

    &__pdf,
    &__skills, 
    &__about{
        padding: 0 20px;
    }

    &__button{
        background-color: $darkblue;
        border: white 1px solid;
        border-radius: 3px;
        height: 30px;
    }

}
.navbar__button:hover{
    background-color: #ffb814;
}

.navbar__about{
    padding-right: 100px;
    padding-left: 20px;
}

.navbar__link{
    color:white;
    text-decoration: none;
}

.navbar__link:hover{
    cursor: default;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;       
}

.dropdown {
    display: none;

}

@media (max-width: 600px){

    .navbar {
        width: 100%;
        height: 5%;
        flex-direction: column;
        align-items: flex-start;

    }

    .navbar__links {
        flex-direction: column;
        display: none;
    }

    .show {
        display: block;
    }

    .navbar__cont {
        display: none;          
    }

    .navbar__pdf {
        display: none;
    }

    .sticky {
        position: fixed;
        top: 0;
        z-index: 10;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        }

    .dropdown {
        width: 100%;
        display: inline-block;
        position: relative;
        right: 5px;
        top: 5px;
    }

    .dropdown-content {
        position: absolute;
        background-color: $lightblue;
        min-width: 160px;
        z-index: 10;
        display: none;
    }

    .show{
        display: flex;
        flex-direction: column;
    }

    .dropbtn {
        margin-right: 25px;
        justify-self: center;
        background-color: white;
        border: 1px solid #ffb814;
        border-radius: 3px;
 

    }

    .dropdown-content {

    }

    .dropdown-content .navbar__link{
        border-bottom: 1px $darkblue solid;
        font-size: 1rem;
    }
}