/* Color Palette #4523*/
$darkblue: #005067;
$lightblue: #048399;
$rose: #FEB9C6;
$darkrose: #B96B85;
$blackish: #021E20;

.navbar{
    background-color: $lightblue;
    height: 50px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px white solid;
    
    &__cont{
        padding-left: 100px;
        flex-grow: 1;
    }

    &__links{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 2;
    }
    &__pdf,
    &__skills, 
    &__about{
        padding: 0 20px;
    }
    &__button{
        background-color: $darkblue;
        border: white 1px solid;
        border-radius: 3px;
        height: 30px;
    }
}
.navbar__button:hover{
    background-color: #ffb814;
}

.navbar__about{
    padding-right: 100px;
    padding-left: 20px;
}

.navbar__link{
    color:white;
    text-decoration: none;

}

.navbar__link:hover{
    cursor: default;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    
    
}


/*padding left and right 100px*/