/* Color Palette #4523*/
$darkblue: #005067;
$lightblue: #048399;
$rose: #FEB9C6;
$darkrose: #B96B85;
$blackish: #021E20;

.navbar{
    background-color: $lightblue;
    height: 50px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    
    &__cont{
        padding-left: 100px;
        flex-grow: 1;
    }

    &__links{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 2;
    }
    &__pdf,
    &__skills, 
    &__about{
        padding: 0 20px;
    }
}
.navbar__contact{
    padding-right: 100px;
    padding-left: 20px;
}

.navbar__link{
    color:white;
    text-decoration: none;

}

/*padding left and right 100px*/