.hero__image {
    background-image: url("../images/hero8.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
}

.hero__text {
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero__title {
    font-size: 80px;
    margin: 20% auto 5px;
}

.hero__par {
    font-size: 40px;
    margin: 10px auto 20px;
}

.blurry {
    background-image: url("../images/hero8.png");
    background-size: cover;
    background-repeat: no-repeat;
    /**/
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /**/
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; 
    position: relative;
}
/*mobile phone*/
@media(max-width: 600px) {
    .hero__image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: block;
    }

    .hero__title {
        font-size: 60px;
        margin-top: 150px;
    }

    .hero__par {
        font-size: 20px;
        margin: 60px 100px;
    }
}

/*big external monitor*/
@media screen and (min-width: 1900px) {
    .hero__image {
        height: 1000px;
        justify-content: center;
    }

    .hero__title {
        font-size: 160px;
    }

    .hero__par {
        font-size: 40px;
    }

    .blurry {
        height: 1000px;
    }
}


