.hero-container {
	.hero-image {
		background-image: url("../images/hero-starry.png");
		background-size: cover;
		min-height: 900px;
		background-position-y: bottom;
	}

	.hero-title {
		font-family: "Lora", serif, Arial, Helvetica, sans-serif;
		font-size: 5rem;

		animation: hero-title 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	}

	.hero-text {
		animation: hero-text 2s linear 3 alternate both;
	}
}

@keyframes hero-text {
	0% {
		color: #021e20;
	}
	25% {
		color: #00C59B;
	}
	50% {
		color: #005067;
	}
	100% {
		color: beige;
	}
}

@keyframes hero-title {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
