html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.contact__form label,
.contact__form input,
.contact__form .textarea {
    display: block;
    text-align: left;
    width: 100%;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: "Titillium Web",
        Arial,
        Helvetica,
        sans-serif;
    border-color: white;

}

.contact__form .textarea {
    resize: none;
    border: 1px solid black;
    border-color: white;
    height: 120px;
}

::placeholder {
    font-style: italic;
    font-size: smaller;
}

.contact__form {
    background-color: #ffbb11;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    margin: auto;

}

.contact__button {
    background-color: $lightblue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    // display: inline-block;
    font-size: 16px;
    width: 300px;
    font-family: "Titillium Web",
        Arial,
        Helvetica,
        sans-serif;
}

.form__title{
    color: white;
    padding: 20px 0 0 15px;
}

.contact__button {
    color: white;
}

.btn__cont {
    display: flex;
    justify-content: center;
    padding: 20px;
}

// .modalBackground{
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: auto;
//     width: 100%;

// }

.modalContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}


// .modalBackground{
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: auto;
//     width: 100%;
// }