html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.contact__form label,
.contact__form input,
.contact__form .textarea {
    display: block;
    text-align: left;
    width: 100%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: "Titillium Web",
        Arial,
        Helvetica,
        sans-serif;
    border-color: white;
    @media(max-width: 600px){
        width: 60%;
        font-size: 1em;
    }

}

.contact__form .textarea {
    resize: none;
    border: 1px solid black;
    border-color: white;
    height: 120px;
}

::placeholder {
    font-style: italic;
    font-size: smaller;
}

.contact__form {
    background-color: #ffbb11;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #d828b2;
    padding: 10px;
    @media(max-width: 600px){
        width: 50%;
        height: 100%;
    }
}

.contact__button {
    background-color: $lightblue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 200px;
    font-family: "Titillium Web",
        Arial,
        Helvetica,
        sans-serif;

}

.form__title{
    color: white;
    padding: 10px 0 0 5px;
    margin-top: -10px;
}

.btn__cont {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

.modalContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    height: 500px;
    width: 550px;
    @media(max-width: 600px){
      position: fixed; 
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index:99; 
    }
    
}

.modal__input {
    height: 1.5em;
    padding: 3px;
    
}