.skills__container{
    background: #ffb814;
    color: white;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.skills__title {
    margin: 0;
    padding: 50px 100px 50px;
    color: white;
    background: #ffb814;
}

.skills__subtitle {
        margin: 0;
        // padding-top: 50px;
        padding-bottom: 25px;
        padding-left: 0;
}


.tech__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    margin-right: 40px;
    border: 1px white solid;
    padding: 10px;
    box-shadow: 2px 3px 0px 1px $lightblue;
    border-radius: 5px;
}

.study__container {
    display: flex;
    flex-direction: column;
    border: 1px white solid;
    padding: 10px;
    box-shadow: 2px 3px 0px 1px $lightblue;
    border-radius: 5px;
}

.language__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
}

.courses__cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.progress, 
.progress-bar {
    // border-radius: 10px;
    height: 30px;
    width: 100%; 
    margin: 5px 0;
}

.progress {
    background-color:$lightblue ;
    display: flex; 
    font-size: 16px; 
      
    
}

.progress-bar{
    background-color:#d828b2; 
    align-self: center;  
    padding: 4px;
}

.language-en {
    width: 100%;
}

.courses {
    width: 100%;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.li__item {
    list-style: none;
}


.cont__top {
    display: flex;
}

.lang__container {
    border: 1px solid white;
    width: 100%;
    margin-top: 20px;
    margin-right: 40px;
    border: 1px white solid;
    padding: 10px;
    box-shadow: 2px 3px 0px 1px $lightblue;
    border-radius: 5px;
}


/*mobile phone*/
@media(max-width:600px){
    .skills__container {
        width: 100%;
        padding: 25px;
        // margin: 0 auto;
        // padding: 25px 25px;
        display: block;
    //  flex-direction: column;
    //  align-items: center;

    }

    .skills__title{
        margin-top: -5%;
        margin-bottom: -5%;
        margin-left: 0;
        padding-left: 25px;
        font-size: 1.5em;
  
   
    }
    .skills__subtitle {
        font-size: 1em;
        margin-top: -10%;

    }

    .courses__cont,
    .language__container,
    .tech__container {
        width: 80%;
        margin: auto;
    }

    .progress, 
    .progress-bar {
        height: 40%;
    }
}

/*big external monitor*/
@media screen and (min-width: 1900px) {
    .skills__title {
        font-size: 3em;
    }

    .skills__subtitle {
        font-size: 2em;
    }

    .progress, 
    .progress-bar {
        font-size: 24px;
        height: 50px;
    }
}