.skills__container{
    background: #ffb814;
    padding: 0;
    color: white;
    margin: 0 auto;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
}

.skills__title {
    margin-top: 0;
    margin-left: 0;
    padding-top: 50px;
    padding-left: 0;
}

.tech__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.language__container {
    width: 30%;
        display: flex;
            flex-direction: column;
            align-items: center;

}

.progress, 
.progress-bar {
    border-radius: 10px;
    height: 40px;
    width: 60%; 
}

.progress {
    background-color:$lightblue ;
    display: flex; 
    font-size: 20px; 
      
    
}

.progress-bar{
    background-color:#d828b2; 
    align-self: center;  
    padding: 4px;
    // vertical-align: middle;
}

.language-en {
    width: 200px;
}