.skills__container{
    background: #ffb814;
    margin: 0 auto;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress, 
.progress-bar {
    border-radius: 10px;
    height: 40px;
    width: 60%; 
}

.progress {
    background-color:$lightblue ;
    display: flex; 
    font-size: 20px; 
      
    
}

.progress-bar{
    background-color:#d828b2; 
    align-self: center;  
    padding: 4px;
    // vertical-align: middle;
}