* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.accordinon__item {
    width: 100%;
}
.accordion__container {
    width: 100%;
    margin: auto;
    background-color: $lightblue;
    padding: 0 100px 50px 100px;


}
.accordion {
    width: 100%;
    // margin: 50px auto 100px;
    color: white;
}

.accordion__title {

    margin-top: 0;
    margin-bottom: 50px;
    padding: 50px 0 0px;
    color: white;
}

.live__button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

.accordion__subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: $darkblue;
    border-bottom: 1px white solid;
    padding:  5px 20px;

}

.accordion__subtitle:hover {
    background-color:#ffb814 ;
}

.accordion__content {
    padding: 10px 20px;
    text-align: justify;
}


// .accordion__subtitle,
// .accordion__content {
//     padding: 1rem;
// }

.accordion__content {
    background-color: #39b9d2;
}

@media screen and (max-width: 700px) {
    body {
        font-size: 18px;
    }

    .accordion {
        width: 90%;
    }
}